{% extends 'layout.html' %}
{% load static %}

{% block pago %}

<style>
.icon-1x {
    
    font-size: 24px !important;
}
a{
    text-decoration:none;    
}
.text-primary, a.text-primary:focus, a.text-primary:hover {
    color: #00ADBB!important;
}
.text-black, .text-hover-black:hover {
    color: #000 !important;
}
.font-weight-bold {
    font-weight: 700 !important;
}
</style>

<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
<div style="margin-top: 40px;" class="container">
      <div class="row">
        <!-- Main content -->
        <div class="col-lg-9 mb-3">
          <div class="row text-left mb-5">
            <div class="col-lg-4 mb-3 mb-sm-0">  
            <button onclick="location.href='/foro/fecha'"
              style="width: 100%;
                    width: 100%;
                    margin-top: 0px; filter: drop-shadow(0px 0px 16px rgba(107, 228, 255, 0.34));
                    height: 50px;
                    color: #e8ecee;
                    border: 2px solid #00a7ff;
                    border-radius: 73px; 
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 25px;
                    background-color:transparent;
                    font-size: 20px;
                    "
              >Filtrar por fecha
                </button>
            </div>

            <div class="col-lg-4 text-lg-right">
             
                  <button onclick="location.href='/foro/voto'"
                  style="
                    width: 100%;
                    margin-top: 0px; filter: drop-shadow(0px 0px 16px rgba(107, 228, 255, 0.34));
                    height: 50px;
                    color: #e8ecee;
                    border: 2px solid #00a7ff;
                    border-radius: 73px; 
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 25px;
                    background-color:transparent;
                    font-size: 20px;
                    "
                  >Filtrar por votos
                </button>
            
            </div>
            <div class="col-lg-4">
                <button style="height: 50px; font-size: 20px; border-radius: 20px;" class="btn  btn-success  roboto-bold" data-toggle="modal" data-target="#myModal"> New Strategy </button>
 
            </div>

          </div>

          <!-- End of post 1 -->
          {% for data in datos %}
          
          <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-5">
            <button onclick="mensajes('{{data.id}}','{{data.voto}}','{{data.titulo}}','{{data.username}}','{{data.fecha}}','{{data.nombre}}','{{data.mensaje}}',
            '{{data.importe}}','{{data.martingala}}','{{data.tipo_martingala}}','{{data.modo_entrada}}','{{data.num_operaciones}}',
            '{{data.after_loss}}','{{data.after_loss_num}}','{{data.after_loss_martingala}}','{{data.stop_gain}}','{{data.stop_loss}}'
            )"

            style="background-color: transparent; border: none;"  data-toggle="modal" data-target="#mensajes">



            <div class="row">
              <div style="text-align: left; margin-left: 10px;" class="col">
                <h5 style="color: #0a5581;">
                  {{data.titulo}}
                </h5>
                <p class="text-sm"><span class="op-6">Posted</span> <a class="text-black" href="#">{{data.fecha}}</a> <span class="op-6"> by</span> <a class="text-black" href="#">{{ data.username }}</a></p>
                     </div>
              <div class="col-md-4 op-7">
                <div class="row text-center op-7">
                  <div class="col px-1"></div>
                  <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span id='{{data.id}}res' class="d-block text-sm"></span> </div>
                  <div class="col px-1"> <i class="ion-ios-eye-outline icon-1x"></i> <span id='{{data.id}}voto' class="d-block text-sm">{{data.voto}} Votes</span> </div>
                </div>
              </div>
            </div>
          </button>
          </div>
          {% endfor %}

          <script>
            const get_info = async (info_id) => {
              try{  
              const response = await fetch("./get_info/",{
              method: "POST",
              body: JSON.stringify(info_id)
              })

              const info = await response.json();
              console.log(info) 
             document.getElementById(`${info_id}res`).innerHTML = info.respuestas + ' Replys'
            }catch(error){}
            }
             
            var limite = parseInt('{{ total }}')
            var limite2 = limite + 1
            for (let y = 0; y < limite2; y++){
               get_info(y)
            }
           </script>
          
          <!-- /End of post 1 -->
          

      
        </div>


        <!-- Sidebar content -->
        <div class="col-lg-3 mb-4 mb-lg-0 px-lg-0" style="z-index: 1;">
          <div
            style="visibility: hidden; display: none; width: 285px; height: 801px; margin: 0px; float: none; position: static; inset: 85px auto auto;">
          </div>
          <div
            data-settings="{&quot;parent&quot;:&quot;#content&quot;,&quot;mind&quot;:&quot;#header&quot;,&quot;top&quot;:10,&quot;breakpoint&quot;:992}"
            data-toggle="sticky" class="sticky" style="top: 85px;">
            <div class="sticky-inner">
        
        
              <div class="bg-white text-sm rounded-5">
                <h4 class="px-3 py-4 op-5 m-0 roboto-bold">
                  Stats
                </h4>
                <hr class="my-0">
                <div class="row text-center d-flex flex-row op-7 mx-0">
                  <div class="col-sm-6 flex-ew text-center py-3 border-bottom border-right"> <a
                      class="d-block lead font-weight-bold" href="#">{{cantidad}}</a> Members </div>
                  <div class="col-sm-6 col flex-ew text-center py-3 border-bottom mx-0"> <a
                      class="d-block lead font-weight-bold" href="#">{{total}}</a> Posts </div>
                </div>
        
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>

  <!-- VENTANA NEW MENSAJE------------------------------------------------------------------------------------------------------------------------------------- -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    .form-control{
                    width: 80%;
                    margin-top: 0px; filter: drop-shadow(0px 0px 16px rgba(107, 228, 255, 0.34));
                    height: 25px;
                    color: #ebeff1;
                    border: 2px solid #00a7ff;
                    border-radius: 73px; 
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 25px;
                    background-color:transparent;
    }
  </style>
    
        <!-- The Modal -->
        <style>
          body {
  background: #eee;
  
}

.ratings i {
  color: green;
}

.install span {
  font-size: 12px;
}

.col-md-4 {
  margin-top: 27px;
}
        </style>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <div class="modal" id="myModal">
          <div style="width: 60%; margin: 0 auto; margin-top: 80px;">
            <div style="border-radius: 20px; background: radial-gradient(50% 50% at 50% 50%, #00A3FF 0%, #003C74 100%); border-radius: 0px;"class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header" style=" text-align: center;">
                <h4 style="color: azure;" class="modal-title">Comparte tu estrategia
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-robot" viewBox="0 0 16 16">
                        <path d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5ZM3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.58 26.58 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.933.933 0 0 1-.765.935c-.845.147-2.34.346-4.235.346-1.895 0-3.39-.2-4.235-.346A.933.933 0 0 1 3 9.219V8.062Zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a24.767 24.767 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25.286 25.286 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135Z"/>
                        <path d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2V1.866ZM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5Z"/>
                      </svg>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
                <form method="post" id="formulario" class="form-group" style="margin-left: 20px; margin-right: 20px; margin-top: 10px; color: azure;" >
                  {% csrf_token %}
                           <div class="row" style="text-align: center;">
                            <div hidden class="field-username">
                                <div>
                                    <label style="text-align: center;" for="id_username">Username:</label>
                                    <input type="text" name="username" class="vTextField  form-control" maxlength="100"  id="id_username" style="margin: 0 auto;">
                                </div>
                            </div>


                            <div  class=" field-titulo">
                                <div>
                                    <label class="required" for="id_titulo">Titulo:</label>
                                    <input type="text" name="titulo" class=" form-control" maxlength="500" required="" id="id_titulo" style="margin: 0 auto;">
                                </div>
                            </div>

                            <div  class=" field-nombre">
                              <div>
                                  <label class="required" for="id_nombre">Nombre de estrategia:</label>
                                  <input type="text" name="nombre" class=" form-control" maxlength="40" required="" id="id_nombre" style="margin: 0 auto;">
                              </div>
                          </div>


                            <div class="field-mensaje">
                                <div>
                                      <label class="required" for="id_mensaje">Mensaje:</label>
                                      <textarea  name="mensaje" cols="40" rows="10" class=" form-control" required="" id="id_mensaje" style="margin: 0 auto; border-radius: 10px; height: 150px;"></textarea>
                                 </div>
                           </div>


                           <div hidden class="field-fecha">
                            <div>
                                    <label for="id_fecha">Fecha:</label>
                                    <input type="text" name="fecha" class="vDateField" size="10" id="id_fecha"><span class="datetimeshortcuts">&nbsp;<a href="#">Today</a>&nbsp;|&nbsp;<a href="#" id="calendarlink0"><span class="date-icon" title="Choose a Date"></span></a></span>
                            <br><span class="timezonewarning">Note: You are 4 hours behind server time.</span></div>
                        
                             </div>


                
                            <div hidden class="field-enlace form-group">
                                <div>
                                    <label  for="id_enlace">Enlace:</label>
                                    <div class="related-widget-wrapper" data-model-ref="foro">
                                        <select name="enlace" id="id_enlace" class="form-control">
                                            <option value="" selected="">---------</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                         <div style="background: rgba(30, 77, 120, 0.5799999833106995);opacity: 0.5;border: 0; height: 30px; border-radius: 30px; margin-top: 15px; text-align: center;">
                            
                            Configura tu estrategia
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-boxes" viewBox="0 0 16 16">
                                <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434L7.752.066ZM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567L4.25 7.504ZM7.5 9.933l-2.75 1.571v3.134l2.75-1.571V9.933Zm1 3.134 2.75 1.571v-3.134L8.5 9.933v3.134Zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567-2.742 1.567Zm2.242-2.433V3.504L8.5 5.076V8.21l2.75-1.572ZM7.5 8.21V5.076L4.75 3.504v3.134L7.5 8.21ZM5.258 2.643 8 4.21l2.742-1.567L8 1.076 5.258 2.643ZM15 9.933l-2.75 1.571v3.134L15 13.067V9.933ZM3.75 14.638v-3.134L1 9.933v3.134l2.75 1.571Z"/>
                              </svg>
                        </div>

                            <div class="row" style="text-align: center; margin-top: 10px;">
                            <div class="col">

                            <div class="field-importe form-group">
                                <div>
                                    <label  for="id_importe">Importe:</label>             
                                    <input type="text" name="importe" class="vTextField form-control" maxlength="10"  id="id_importe" style="margin: 0 auto;">
                                </div>
                            </div>



                            <div class="field-martingala form-group">
                                <div>
                                    <label  for="id_martingala">Martingala:</label>
                                    <select name="martingala"  id="id_martingala" class="form-control" style="margin: 0 auto; height: 40px;">
                                        <option value="" selected="">---------</option>
                
                                        <option value="0">0 Mg</option>
                
                                        <option value="1">1 Mg</option>
                
                                        <option value="2">2 Mg</option>
                
                                        <option value="3">3 Mg</option>
                
                                        <option value="4">4 Mg</option>
                
                                        <option value="5">5 Mg</option>
                                    </select>
                                </div>
                            </div>

                
                            <div class=" field-tipo_martingala form-group">
                                <div>
                                    <label  for="id_tipo_martingala">Tipo martingala:</label>
                
                                    <select name="tipo_martingala"  id="id_tipo_martingala" class="form-control" style="margin: 0 auto; height: 40px;">
                                        <option value="" selected="">---------</option>           
                                        <option value="double">Double</option>
                                        <option value="single">Single</option>
                                    </select>
                                </div>
                            </div>
                            </div>

                          <div class="col">


                            <div class=" field-num_operaciones form-group">
                                <div>
                                    <label  for="id_num_operaciones">Num operaciones:</label>
                
                                    <input type="number" name="num_operaciones" class="vIntegerField form-control"
                                        id="id_num_operaciones" style="margin: 0 auto;">
                                </div>
                            </div>

                
                            <div class="field-modo_entrada form-group">
                                <div>
                                    <label  for="id_modo_entrada">Modo entrada:</label>
                
                                    <select name="modo_entrada"  id="id_modo_entrada" class="form-control" style="margin: 0 auto; height: 40px;">
                                        <option value="" selected="">---------</option>
                
                                        <option value="vela2">Vela 2</option>
                
                                        <option value="vela3">Vela 3</option>
                
                                        <option value="vela4">Vela 4</option>
                
                                        <option value="vela5">Vela 5</option>
                
                                    </select>
                                </div>
                            </div>
                        

                    
                            <div class="field-after_loss form-group">
                                <div>
                                    <label  for="id_after_loss">After loss:</label>
                                    <select name="after_loss"  id="id_after_loss" class="form-control" style="margin: 0 auto; height: 40px;">
                                        <option value="" selected="">---------</option>
                
                                        <option value="1">1</option>
                
                                        <option value="2">2</option>
                
                                    </select>
                                </div>
                            </div>

                            <div class="field-stop_loss">
                                <div>
                                        <label  for="id_stop_loss">Stop loss:</label>
                                        
                                        <input readonly type="number" name="stop_loss" class="vIntegerField form-control"  id="id_stop_loss" style="margin: 0 auto;">  
                                </div>  
                            </div>
                        </div>

                            <div class="col">
                
                            <div class=" field-after_loss_num form-group">
                                <div>
                                    <label for="id_after_loss_num">After loss num:</label>
                                    <input type="number" name="after_loss_num" class="vIntegerField form-control"  id="id_after_loss_num" style="margin: 0 auto;">
                                </div>
                            </div>


                
                            <div class="field-after_loss_martingala form-group">
                                <div>
                                    <label  for="id_after_loss_martingala">After loss martingala:</label>
                
                                    <select name="after_loss_martingala"  id="id_after_loss_martingala" class="form-control" style="margin: 0 auto; height: 40px;">
                                        <option value="" selected="">---------</option>
                
                                        <option value="0">0 Mg</option>
                
                                        <option value="1">1 Mg</option>
                
                                        <option value="2">2 Mg</option>
                
                                        <option value="3">3 Mg</option>
                
                                        <option value="4">4 Mg</option>
                
                                    </select>
                                </div>
                            </div>


                          
                            <div class="field-stop_gain form-group">
                                <div>
                                    <label  for="id_stop_gain">Stop gain:</label>
                                    <input readonly type="number" name="stop_gain" class="vIntegerField form-control"  id="id_stop_gain" style="margin: 0 auto; height: 40px;">
                                </div>
                            </div>



                        </div>
                    </div>

                        
                <input type="submit" value="Publicar" class="btn btn-dark default"  style="opacity: 0.5;">
                      
                </form>


            </div>
          </div>
        </div>

      
        <div class="modal" id="mensajes">
          <div style="width: 80%; margin: 0 auto; margin-top: 80px;">
            <div style="border-radius: 20px; background: radial-gradient(50% 50% at 50% 50%, #00A3FF 0%, #003C74 100%); border-radius: 0px;"class="modal-content">
              <div class="container mt-5">

                   <h1 style="color: white;" id="titulo_ms"></h1>
                   <h3 style="color: white; font-size: 17px;" id="fecha_ms"></h3>
                   <h3 style="color: white;" id="nombre_ms"></h3> 
                   <h3 hidden style="color: white;" id="id_oculto"></h3>
                   <textarea disabled style="width: 100%;" name="" id="mensaje_ms" cols="30" rows="10"></textarea>                
                    
                   <style>
                    table {
              border: 1px solid #ccc;
              border-collapse: collapse;
              margin: 0;
              padding: 0;
              width: 100%;
              table-layout: fixed;
            }
            
            table caption {
              font-size: 1.5em;
              margin: .5em 0 .75em;
            }
            
            table tr {
              background-color: #f8f8f8;
              border: 1px solid #ddd;
              padding: .35em;
            }
            
            table th,
            table td {
              padding: .625em;
              text-align: center;
            }
            
            table th {
              font-size: .85em;
              letter-spacing: .1em;
              text-transform: uppercase;
            }
            
            @media screen and (max-width: 600px) {
              table {
                border: 0;
              }
            
              table caption {
                font-size: 1.3em;
              }
              
              table thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
              }
              
              table tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
              }
              
              table td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
              }
              
              table td::before {
                /*
                * aria-label has no advantage, it won't be read inside a table
                content: attr(aria-label);
                */
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
              }
              
              table td:last-child {
                border-bottom: 0;
              }
            }
            
                   </style>

                   <table style="margin-top: 10px;">
              
                    <thead>
                      <tr>
                        <th scope="col">Ingreso</th>
                        <th scope="col"> Martingala</th>
                        <th scope="col"> Tipo de Martingala</th>
                        <th scope="col"> Modo de Entrada</th>
                        <th scope="col">Num. de Operaciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                       
                        <td id="ingreso2" data-label="Ingreso"></td>
                        <td id="martingala2" data-label="Martingala"></td>
                        <td id="tipo_martingala2" data-label="Tipo de Martingala"></td>
                        <td id="modo_entrada2" data-label="Modo de Martingala"></td>
                        <td id="operaciones2" data-label="Num. de Operaciones"></td>
                        
            
                       </tr>
                      
                    </tbody>

                  </table>

                  <table style="margin-top: 5px;">
                  
                    <thead>
                      <tr>
                        <th scope="col">After Loss</th>
                        <th scope="col">AL Num Operaciones</th>
                        <th scope="col">Al Martingala</th>
                        <th scope="col">Stop Gain</th>
                        <th scope="col">Stop Loss</th>
                      
                      </tr>
                    </thead>
                    <tbody>
                      <tr>   
                       
                        <td id="after_loss2" data-label="After Loss"></td>
                        <td id="al_operaciones2" data-label="AL Num Operaciones"></td>
                        <td id="al_martingala2" data-label="Al Martingala"></td>
                        <td id="stop_gain2" data-label="Stop Gain"></td>
                        <td id="stop_loss2" data-label="Stop Loss"></td>
                        
                       </tr>
                    </tbody>
                  </table>


                    

  <hr color="white" size="10" />
 	<div class="row">
  <div class="col"><h3>Responde a esta estrategia</h3></div>
  <div id="votos_2" style="color: white; font-size: 20px;" class="col"> Votos: </div>
  <div class="col" style="color: white; font-size: 20px;"> 
    <form method="post" id="voto_foro">
      {% csrf_token %}
     <input hidden type="text" name="foro_id" class="vTextField" maxlength="100" id="id_foro_id">
     <input hidden type="text" name="username" value="{{ request.user }}" class="vTextField" maxlength="100" id="id_username"> 
     Votar <button type="submit" style="width: 60px;"><i class="bi bi-star"></i></button>
   </form>
  </div>
  </div>
  
   <form method="post"  id="respuesta" style="margin-top: 30px;">
    {% csrf_token %}

          <div hidden class="form-row field-foro_id">
                  <div>
                              <label for="id_foro_id2">Foro id:</label>
                              <input type="text" name="foro_id" class="vTextField" maxlength="100" id="id_foro_id2">
                  </div>
          </div>

      
          <div hidden class="form-row field-username">
                  <div>
                          <label for="id_username2">Username:</label>
                          <input type="text" value="{{ request.user }}" name="username" class="vTextField" maxlength="100" id="id_username2">   
                  </div>
          </div>


      
         
          <textarea style="width: 100%; height: 100px;" name="mensaje" cols="40" rows="10" class="vLargeTextField" required="" id="id_mensaje2"></textarea>
              
      
  <button type="submit">Responder</button> <span id="done" style="color: white;"></span>
  </form>


  <hr color="white" size="10"/>
  <h3>Respuestas</h3>
  <div id="respuestas_lista" style="margin-top: 20px;">

  </div>
 



              </div>
            </div>
          </div>
        </div>


        <script>
          function mensajes(id,voto,titulo,usuario,fecha,nombre,mensaje,ingreso,martingala,tipo_martingala,modo_entrada,operaciones,after_loss,al_operaciones,al_martingala,stop_gain,stop_loss){
        
              document.getElementById('titulo_ms').innerHTML = titulo + ' | by ' + usuario
              document.getElementById('fecha_ms').innerHTML = fecha
              document.getElementById('nombre_ms').innerHTML = nombre
              document.getElementById('mensaje_ms').innerHTML = mensaje
              document.getElementById('id_oculto').innerHTML = id

              document.getElementById('ingreso2').innerHTML = ingreso
              document.getElementById('martingala2').innerHTML = martingala
              document.getElementById('tipo_martingala2').innerHTML = tipo_martingala
              document.getElementById('modo_entrada2').innerHTML = modo_entrada
              
              document.getElementById('operaciones2').innerHTML = operaciones
              document.getElementById('after_loss2').innerHTML = after_loss
              document.getElementById('al_operaciones2').innerHTML = al_operaciones
              document.getElementById('al_martingala2').innerHTML = al_martingala
              document.getElementById('stop_gain2').innerHTML = stop_gain
              document.getElementById('stop_loss2').innerHTML = stop_loss

              document.getElementById('id_foro_id').value = id
              document.getElementById('id_foro_id2').value = id

              document.getElementById('id_username').value = id
             

              document.getElementById('votos_2').innerHTML = 'Votos: ' + voto
              document.getElementById('done').innerHTML = ''
              respuestas_lista.innerHTML = ''

              get_respuestas(id)
          }

        
    const postForm = document.querySelector("#respuesta");
    function handleSubmit(postForm) {
            postForm.addEventListener("submit", e => {
            var valor = document.getElementById('id_oculto').innerHTML
            document.getElementById('id_foro_id2').value = valor
            e.preventDefault();
            formData = new FormData(postForm);      
            fetch('./respuesta/', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {

                console.log(data)
                document.getElementById("respuesta").reset();
                document.getElementById('done').innerHTML = '  Respuesta publicada...Gracias!!!'
                get_respuestas(valor)
                
 
            })

           })
          
          }

handleSubmit(postForm)


const postForm2 = document.querySelector("#voto_foro");
    function handleSubmit2(postForm2) {
            postForm2.addEventListener("submit", e => {
            e.preventDefault();
            formData2 = new FormData(postForm2);      
            fetch('./voto/', {
                method: 'POST',
                body: formData2,
            })
            .then(response => response.json())
            .then(data => {
                 document.getElementById('votos_2').innerHTML =' Votos: ' + data.votos
            })
              
           })
          
          }

          handleSubmit2(postForm2)


          const get_respuestas = async (info_id) => {
              try{             
               let content = ``; 
               respuestas_lista.innerHTML = '' 
              const response = await fetch("./get_respuestas/",{
              method: "POST",
              body: JSON.stringify(info_id)
              })

             const data = await response.json(); 
             console.log(data)

             for (i = 0; i < data.respuestas.length; i++) {
             content +=`
            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-5">
            <div class="row">
              <div style="text-align: left; margin-left: 10px;" class="col">
                  <h5 style="color: #0a5581;">
                    ${data.respuestas[i].username}
                   </h5>
                   <p class="text-sm"><span class="op-6">${data.respuestas[i].mensaje}</p>
              </div>
              <div class="col-md-4 op-7">
                <div class="row text-center op-7">
                  <div class="col px-1"></div>
                  <div class="col px-1"></div>
                  <div class="col px-1"></div>
                </div>
              </div>
            </div>
          </div>
          `

          respuestas_lista.innerHTML = content
        }

            }catch(error){}
            }
             
            var limite = parseInt('{{ total }}')
            var limite2 = limite + 1
            for (let y = 0; y < limite2; y++){
               get_info(y)
            }
        </script>
{% endblock %}