{% extends 'layout.html' %}
{% load static %}

{% block pago %}
<style>
    body{

background-color: #000;
}


.card{

width: 400px;
border:none;

}




.btr{

border-top-right-radius: 5px !important;
}


.btl{

border-top-left-radius: 5px !important;
}

.btn-dark {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}


.btn-dark:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}


.nav-pills{

display:table !important;
width:100%;
}

.nav-pills .nav-link {
  border-radius: 0px;
      border-bottom: 1px solid #0d6efd40;

}




.form{

padding: 10px;
    height: 300px;
}

.form input{

margin-bottom: 12px;
border-radius: 3px;
}


.form input:focus{

box-shadow: none;
}


.form button{

margin-top: 20px;
}
</style>


<div style="margin-left: 25px; text-align: center;" class="row">

<div class="col-md" >
  <a href="/catalogo/bot"><button type="button" style="margin-top: 20px; width: 150px; height: 45px; position: absolute; text-align: center;" class="btn btn-success">ENTRAR</button></a>
    <img  width="100%" src="https://i.imgur.com/ir6qpAt.png">
</div>

<div style="margin-top: 100px;" class="col-md">
  <iframe width="90%" height="70%" src="https://www.youtube.com/embed/ZK9iP5PEhSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
</div> 
</div> 

<div style="margin-top: 30px; margin-left: 25px; text-align: center;" class="row">
<div class="col-md">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <strong>¿Qué es una estrategia probabilística?</strong>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong></strong> Una estrategia probabilística es un patrón de velas que ocurre repetidamente en el gráfico, nuestra plataforma lo ayuda a tomar decisiones sobre si este patrón se repetirá o no.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">          
                <strong>¿Cómo aprenderé a usar estrategias probabilísticas?</strong>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong></strong> ¡Tenemos un grupo de estudio de Telegram dedicado a pensar en cómo las personas pueden usar nuestra plataforma! Además de soporte técnico especializado para nuestros clientes VIP.
                </div>
              </div>
            </div>
   
          </div> 
    </div>
    <div style="margin-top: 25px;" class="col-md">
        <img width="50%" src="https://static.cdnroute.io/files/storage/public/5d/b0/2e04cea156c0b1i4i2/480@2x.webp" alt="">
    </div>
</div>

<footer  style="margin-left: 11%; margin-right: 11%; margin-top: 25px;">
  <div class="w-full mt-2 border-t-2 border-purple text-center flex flex-col items-center mt-16"><div class="max-w-screen-xl my-2"><p class="font-bold text-white mb-2">Texto Legal</p> 
  <p class="text-white">Todas las estrategias e inversiones implican riesgo de pérdida. Ninguna de la información contenida en este producto debe interpretarse como un consejo de inversión.
   Cualquier referencia al rendimiento pasado o potencial de una inversión no es, y no debe interpretarse como una recomendación o garantía de ningún resultado o beneficio específico.

   <a href="https://www.flaticon.com/free-icons/time" title="time icons">Time icons created by Freepik - Flaticon</a>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}