{% extends 'layout.html' %}
{% load static %}

{% block pago %}

<form style="margin-top: 45px;" method="post" novalidate>
	{% csrf_token %}
	<div>{{ form.password1.errors }}</div>
		<div class="container h-100">
		  <div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-lg-12 col-xl-11">
			  <div class="card text-black" style="border-radius: 25px;">
				<div class="card-body p-md-5">
				  <div class="row justify-content-center">
					<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
	  
					  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-2">Registrate</p>
	  
					  <form class="mx-1 mx-md-2">
	  
						<div class="d-flex flex-row align-items-center mb-4">
						  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
						  <div class="form-outline flex-fill mb-0">
							
							<label style="color: red; font-size: 14px;" class="form-label" for="form3Example1c">{{ mensaje }}</label>
							
							<input name="username" type="text" id="form3Example1c" class="form-control"/>
							<div class="row">
								<div class="col-3"><label class="form-label" for="form3Example4c">Username</label></div>
								<div  class="col-9" style="color: red; font-size: 14px; margin-top: 2px;">{{ form.username.errors }}</div>
							</div>
						  </div>
						</div>
	  
						<div class="d-flex flex-row align-items-center mb-4">
						  <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
						  <div class="form-outline flex-fill mb-0">
							<input name="email" type="email" id="form3Example3c" class="form-control"/>
							<div class="row">
								<div class="col-3"><label class="form-label" for="form3Example4c">Your Email</label></div>
								<div  class="col-9" style="color: red; font-size: 14px; margin-top: 2px;">{{ form.email.errors }}</div>
							</div>
						  </div>
						</div>
	                     <script>
							var email_error = '{{ form.email.errors }}'
							console.log(email_error)
						 </script>

						
						<div class="d-flex flex-row align-items-center mb-4">
						  <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
						  <div class="form-outline flex-fill mb-0">
							<input name="password1" type="password" id="form3Example4c" class="form-control"/>
							<div class="row">
								<div class="col-3"><label class="form-label" for="form3Example4c">Password</label></div>
								<div  class="col-9" style="color: red; font-size: 14px; margin-top: 2px;">{{ form.password1.errors }}</div>
							</div>
					
							<ul style="font-size: 12px;">
								<li>Your password can’t be too similar to your other personal information.</li>
								<li>Your password must contain at least 8 characters.</li>
								<li>Your password can’t be a commonly used password.</li>
								<li>Your password can’t be entirely numeric.</li>
							</ul>
						  </div>
						</div>
	  
						<div class="d-flex flex-row align-items-center mb-4">
						  <i class="fas fa-key fa-lg me-3 fa-fw"></i>
						  <div class="form-outline flex-fill mb-0">
							<input name="password2" type="password" id="form3Example4cd" class="form-control"/>
							<div class="row">
								<div class="col-5"><label class="form-label" for="form3Example4c">Repeat your password</label></div>
								<div  class="col-7" style="color: red; font-size: 14px; margin-top: 2px;">{{ form.password2.errors }}</div>
							</div>
						  </div>
						</div>
	  
						<div class="form-check d-flex justify-content-center mb-5">
						  <input name="check_box" class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
						  <label class="form-check-label" for="form2Example3">
							I agree all statements in <a href="#!">Terms of service</a>
						  </label>
						</div>
	  
						<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
						  <input type="submit" class="btn btn-primary btn-lg" value="Register">
						</div>
	  
					  </form>
	  
					</div>
					<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
	                   
						<img style="margin-left: 8%;" src="{% static "img/robots.png" %}" alt="Portada" width="70%">
						
	  
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
</form>

{% endblock %}