{% extends "dstecnologia/blackboard.html" %}
{% load static %}

{% block practices %}
<div class="row">
<div class="col-md-11 mb-4">
  <div class="card example-1 square scrollbar-cyan bordered-cyan">
    <div class="card-body">
  
 <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
    <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      
      <span class="fs-5 fw-semibold">Practicas</span>
    </a>
    <div class="list-group list-group-flush border-bottom scrollarea">
  

      <a href="/compiler" class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Practica 1</strong>
          <small>Undone ✘</small>
        </div>
        <div class="d-flex w-100 align-items-center justify-content-between">
        <div class="col-10 mb-1 small">Declaración de variables </div> 
        <small>0 %</small>            
        </div>
      </a>

      <a href="/compiler" class="list-group-item list-group-item-action  py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Practica 1</strong>
          <small>Undone ✘</small>
        </div>
        <div class="d-flex w-100 align-items-center justify-content-between">
        <div class="col-10 mb-1 small">Declaración de variables </div> 
        <small>0 %</small>            
        </div>
      </a>

    
   
      <a href="/compiler" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Practica 1</strong>
          <small>Undone ✘</small>
        </div>
        <div class="d-flex w-100 align-items-center justify-content-between">
        <div class="col-10 mb-1 small">Declaración de variables </div> 
        <small>0 %</small>            
        </div>
      </a>

    
      <a href="/compiler" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Practica 1</strong>
          <small>Undone ✘</small>
        </div>
        <div class="d-flex w-100 align-items-center justify-content-between">
        <div class="col-10 mb-1 small">Declaración de variables </div> 
        <small>0 %</small>            
        </div>
      </a>

      <a href="/compiler" class="list-group-item list-group-item-action  py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Practica 1</strong>
          <small>Undone ✘</small>
        </div>
        <div class="d-flex w-100 align-items-center justify-content-between">
        <div class="col-10 mb-1 small">Declaración de variables </div> 
        <small>0 %</small>            
        </div>
      </a>

      <a href="/compiler" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Practica 1</strong>
          <small>Undone ✘</small>
        </div>
        <div class="d-flex w-100 align-items-center justify-content-between">
        <div class="col-10 mb-1 small">Declaración de variables </div> 
        <small>0 %</small>            
        </div>
      </a>

   
      <a href="/compiler" class="list-group-item list-group-item-action  py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Practica 1</strong>
          <small>Undone ✘</small>
        </div>
        <div class="d-flex w-100 align-items-center justify-content-between">
        <div class="col-10 mb-1 small">Declaración de variables </div> 
        <small>0 %</small>            
        </div>
      </a>

    </a>
      <a href="/compiler" class="list-group-item list-group-item-action  py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Practica 1</strong>
          <small>Undone ✘</small>
        </div>
        <div class="d-flex w-100 align-items-center justify-content-between">
        <div class="col-10 mb-1 small">Declaración de variables </div> 
        <small>0 %</small>            
        </div>
      </a>
   
      <a href="/compiler" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Practica 1</strong>
          <small>Undone ✘</small>
        </div>
        <div class="d-flex w-100 align-items-center justify-content-between">
        <div class="col-10 mb-1 small">Declaración de variables </div> 
        <small>0 %</small>            
        </div>
      </a>

      <a href="/compiler" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Practica 1</strong>
          <small>Undone ✘</small>
        </div>
        <div class="d-flex w-100 align-items-center justify-content-between">
        <div class="col-10 mb-1 small">Declaración de variables </div> 
        <small>0 %</small>            
        </div>
      </a>
      
      <a href="/compiler" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Practica 1</strong>
          <small>Undone ✘</small>
        </div>
        <div class="d-flex w-100 align-items-center justify-content-between">
        <div class="col-10 mb-1 small">Declaración de variables </div> 
        <small>0 %</small>            
        </div>
      </a>

    </div>
  </div>

</div>
</div>
</div>
</div>

<style>

.scrollbar-cyan::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-cyan::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-cyan::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #00bcd4;
}

.scrollbar-cyan {
    scrollbar-color: #00bcd4 #F5F5F5;
}


.bordered-cyan::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border: 1px solid #00bcd4;
}

.bordered-cyan::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none;
}

.square::-webkit-scrollbar-track {
    border-radius: 0 !important;
}

.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
}

.thin::-webkit-scrollbar {
    width: 6px;
}

.example-1 {
    position: relative;
    overflow-y: scroll;
    height: 800px;
}

</style>
  {% endblock %}

  {% block grafico %}
  <div>
    <canvas id="myChart"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const labels = [
      'p1',
      'p2',
      'p3',
      'p4',
      'p5',
      'p6',
      'p7',
      'p8',
      'p9',
      'p10',
      'p11',
      'p12',
      'p13',
      'p14',
      'p15',
      'p16',
      'p17',
    ];

    const labels2 = [
      'Promedio total',
    ];
  
    const data = {
      labels: labels,
      datasets: [{
        label: 'Progreso por practica',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: [0, 10, 5, 2, 20, 10, 10, 5, 2, 20, 14, 13, 4, 6, 8, 9, 25],
      }]
    };
  
    const config = {
      type: 'line',
      data: data,
      options: {}
    };
  </script>

<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

<div style="margin-top: 50px;">
<div>
<canvas id="pieChart"></canvas>
</div>
<script>
var ctxP = document.getElementById("pieChart").getContext('2d');
  var myPieChart = new Chart(ctxP, {
    type: 'pie',
    data: {
      labels: labels2,
      datasets: [{  
        data: [90,10],
        backgroundColor: ["#F7464A", "#46BFBD"],
        hoverBackgroundColor: ["#FF5A5E", "#5AD3D"]
      }]
    },
    options: {
      responsive: true
    }
  });

</script>
</div>
  {% endblock %}
  