{% extends 'layout.html' %}
{% load static %}

{% block pago %}
<img style="margin-left: 45%; margin-top: 5%;" src="{% static "img/robots.png" %}" alt="Portada" width="150px">
<div style="text-align: center; color: azure;">
                 Gracias por activar tu cuenta en catalobot, estamos muy contentos de que formes parte de nosotros, ahora puedes empezar a ganar.
                <div> <a href="/catalogo/bot"><button type="button" style="margin-top: 20px; width: 150px; height: 45px;" class="btn btn-success">ENTRAR</button></a></div>
</div> 

{% endblock %}