{% extends 'layout.html' %}
{% load static %}

{% block pago %}
<style>
  /* Estilo para el campo de entrada con margen izquierdo */
  input.con-margen-izquierdo {
    padding-left: 10px; /* Ajusta el valor del margen izquierdo según tus necesidades */
  }
</style>
<form method="post">
{% csrf_token %}

<div style="margin-top: 10px;" class="container">
  <img style="margin-left: 45%; margin-top: 1px;" src="https://catalobot.com/static/img/robots.png" alt="Portada" width="150px">
  
  <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        {% for message in messages %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
          <div class="card px-5 py-5" id="form1" style="background: radial-gradient(50% 50% at 50% 50%, #00A3FF 0%, #003C74 100%); border-radius: 0px;">
              <div class="form-data" v-if="!submitted">
                <div class="row">
                  <div class="col-3" style="color: azure; margin-top: 5px;">Username:</div> 
                  <div class="col-9" >

              {% if form.username.value %}
                    <input 
                    style="width: 100%;
                    width: 100%;
                    margin-top: 0px; filter: drop-shadow(0px 0px 16px rgba(107, 228, 255, 0.34));
                    height: 40px;
                    color: #ebeff1;
                    border: 2px solid #00a7ff;
                    border-radius: 73px; 
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 25px;
                    background-color:transparent;"
        
                    class="con-margen-izquierdo" type="text" name="username" value="{{ form.username.value }}" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
               {% else %}  
               <input 
               style="width: 100%;
               width: 100%;
               margin-top: 0px; filter: drop-shadow(0px 0px 16px rgba(107, 228, 255, 0.34));
               height: 40px;
               color: #ebeff1;
               border: 2px solid #00a7ff;
               border-radius: 73px; 
               font-weight: 300;
               font-size: 16px;
               line-height: 25px;
               background-color:transparent;"
   
               class="con-margen-izquierdo" type="text" name="username" value="" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
             {% endif %}
                  </div></div>

                  <div class="row mt-2">
                  <div class="col-3" style="color: azure; margin-top: 5px;">Password:</div> 
                  <div class="col-9" >
                  <input  style="
                   width: 100%;
                   margin-top: 0px; filter: drop-shadow(0px 0px 16px rgba(107, 228, 255, 0.34));
                   height: 40px;
                   color: #f2f5f7;
                   border: 2px solid #00a7ff;
                   border-radius: 73px; 
                   font-weight: 300;
                   font-size: 16px;
                   line-height: 25px;
                   background-color:transparent;"
                   class="con-margen-izquierdo" type="password" name="password" autocomplete="current-password" required="" id="id_password">   
                  </div></div>


                  <div  style="color: white; font-size: 14px; margin-top: 10px;">{{ form.errors }}</div>
    
                  <div class="mb-3 mt-4"> <button style="border-radius: 73px;" v-on:click.stop.prevent="submit" class="btn btn-primary w-100">Login</button> </div>
              </div>
              <div class="success-data" v-else>
                  <div class="text-center d-flex flex-column"> <i class='bx bxs-badge-check'></i> <a style="text-decoration: none; color: rgb(201, 196, 196);" href="{% url 'password_reset' %}">Forgot your password?</a> </div>
              </div>
          </div>
      </div>
  </div>
</div>
</form>
<div style="margin-top: 20%;"></div>

<script>
  
  var app = new Vue({
  el: '#form1',
  data: function () {
    return {
    email : "",
    emailBlured : false,
    valid : false,
    submitted : false,
    password:"",
    passwordBlured:false
    }
  },

  methods:{

    validate : function(){
this.emailBlured = true;
this.passwordBlured = true;
if( this.validEmail(this.email) && this.validPassword(this.password)){
this.valid = true;
}
},

validEmail : function(email) {
   
var re = /(.+)@(.+){2,}\.(.+){2,}/;
if(re.test(email.toLowerCase())){
  return true;
}

},

validPassword : function(password) {
   if (password.length > 7) {
    return true;
   }
},

submit : function(){
this.validate();
if(this.valid){
this.submitted = true;
}
}
  }
});
</script>


{% endblock %}