{% extends 'layout.html' %}
{% load static %}

{% block pago %}
<img style="margin-left: 45%;" class="mt-5" src="{% static "img/robots.png" %}" alt="Portada" width="150px">
		<div class="row align-items-center justify-content-center g-0">
		  <div class="col-12 col-md-8 col-lg-4 border-top border-3 border-primary">
			<div class="card shadow-sm">
			  <div class="card-body">
				<div class="mb-4">
				  <h5>Forgot Password?</h5>
				  <p class="mb-2">Enter your registered email ID to reset the password
				  </p>
				</div>
				<form method="post">
					{% csrf_token %}
				  <div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input name="email" type="email" id="email" class="form-control"  placeholder="Enter Your Email"
					  required="">
				  </div>
				  <div class="mb-3 d-grid">
					<button type="submit" class="btn btn-primary">
					  Reset Password
					</button>
				  </div>
				  <span>Don't have an account? <a href="/register">sign in</a></span>
				</form>
			  </div>
			</div>
		  </div>
		</div>
{% endblock %}