{% extends 'layout.html' %}
{% load static %}

{% block pago %}
<img style="margin-left: 45%; margin-top: 5%;" src="{% static "img/robots.png" %}" alt="Portada" width="150px">
<div style="text-align: center; color: azure;">
                 Le hemos enviado instrucciones por correo electrónico para establecer su contraseña,
                 si existe una cuenta con el correo electrónico que ingresó. Deberías recibirlos en breve.
              <p>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que 
                 se registró y verifique su carpeta de correo no deseado.
</div> 

{% endblock %}