{% extends 'layout.html' %}
{% load static %}

{% block pago %}

{% if validlink %}

<h1 style="text-align: center; color: azure;">Set a new password!</h1>

  <form method="post">
  {% csrf_token %}
  <div class="container mt-5">
    <img style="margin-left: 45%; margin-top: 1px;" src="{% static "img/robots.png" %}" alt="Portada" width="150px">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5" id="form1">
                <div class="form-data" v-if="!submitted">
                    <div  class="forms-inputs mb-4"> <span>New password:</span> <input style="width: 100%;" autocomplete="off" type="password"  name="new_password1" id="new_password1">  
                    </div>
                    <div  style="color: red; font-size: 14px; margin-top: 2px;">{{ form.new_password1.errors }}</div>
      
                    <div class="forms-inputs mb-4"> <span>New password confirmation:</span> <input  style="width: 100%;" autocomplete="off" type="password"  name="new_password2" id="new_password2">
                        
                    </div>
                    <div   style="color: red; font-size: 14px; margin-top: 2px;">{{ form.new_password2.errors }}</div>
                    <div class="mb-3"> <button v-on:click.stop.prevent="submit" class="btn btn-primary w-100">Change my password</button> </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  </form>
  
  <script>
    
    var app = new Vue({
    el: '#form1',
    data: function () {
      return {
      email : "",
      emailBlured : false,
      valid : false,
      submitted : false,
      password:"",
      passwordBlured:false
      }
    },
  
    methods:{
  
      validate : function(){
  this.emailBlured = true;
  this.passwordBlured = true;
  if( this.validEmail(this.email) && this.validPassword(this.password)){
  this.valid = true;
  }
  },
  
  validEmail : function(email) {
     
  var re = /(.+)@(.+){2,}\.(.+){2,}/;
  if(re.test(email.toLowerCase())){
    return true;
  }
  
  },
  
  validPassword : function(password) {
     if (password.length > 7) {
      return true;
     }
  },
  
  submit : function(){
  this.validate();
  if(this.valid){
  this.submitted = true;
  }
  }
    }
  });
  </script>

{% else %}
<p style="color: azure;">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
{% endif %}


{% endblock %}